{mode, {rate, 5}}.

{duration, 1}.

{concurrent, 5}.

{report_interval, 60}.

{driver, basho_bench_driver_insurance}.

{key_generator, {uniform_int, 50000}}.
{value_generator, {uniform_bin, 10, 50}}.

{operations, [
        %% user management module
        %{{user, changeEmail}, 1},
        %{{user, getUsers}, 1},

        %% decisions module
        {{decision, addTicket}, 10},
        {{decision, listTickets}, 8},
        {{decision, getTickets}, 8},
        {{decision, getAllTickets}, 6},
        {{decision, deleteTicket}, 5},
        {{decision, takeOwnership}, 4},
        {{decision, requestEval}, 4},
        {{decision, getTicketHistory}, 6},
        {{decision, getTicket}, 10},
        {{decision, getAttachment}, 8},
        {{decision, evalEta}, 4},
        {{decision, deleteDoc}, 2},
        {{decision, attachDoc}, 4},
        {{decision, addDecission}, 2}
        ]}.

{users_endpoint, "http://89.72.223.189:8080/userAccounts/services/UserService?wsdl"}.
{damage_enpoint, "http://damagereportmodule.hostingasp.pl/DamageReport.svc?singleWsdl"}.
{decision_endpoint, "http://178.255.41.148:8080/mic/services/MicServicePort?wsdl"}.
