{mode, {rate, 1}}.

{duration, 1}.

{concurrent, 1}.

{report_interval, 10}.

{driver, basho_bench_driver_insurance}.

{key_generator, {uniform_int, 50000}}.
{value_generator, {uniform_bin, 10, 50}}.

{operations, [
        %% user management module
        %{{role, addRole}, 3},
        %{{role, createRole}, 1},
        %{{role, getAllRoles}, 6},
        %{{role, getUserRole}, 8},
        %{{role, removeRole}, 1},
        %{{role, revokeRole}, 3},
        %{{user, changeEmail}, 3},
        %{{user, getUsers}, 8},
        %{{param, getUserParam}, 8},
        %{{param, setUserParam}, 6},
        %{{param, getUserParams}, 8}

        %% decisions module
        %{{decision, addTicket}, 10},
        %{{decision, listTickets}, 8},
        %{{decision, getTickets}, 8},
        %{{decision, getAllTickets}, 6},
        %{{decision, deleteTicket}, 5},
        %{{decision, takeOwnership}, 4},
        %{{decision, requestEval}, 4},
        %{{decision, getTicketHistory}, 6},
        %{{decision, getTicket}, 10},
        %{{decision, getAttachment}, 8},
        %{{decision, evalEta}, 4},
        %{{decision, deleteDoc}, 2},
        %{{decision, attachDoc}, 4},
        %{{decision, addDecission}, 2}
        
        %% damage report module
        %{{damage, reportInformation}, 10},
        %{{damage, damageInformation}, 10},
        %{{damage, personReportingDamageData}, 10},
        %{{damage, ownerDamagedVehicleData}, 10},
        %{{damage, damagedVehicleData}, 10},
        %{{damage, confirmation}, 10}
        
        %% admin module
        %{{admin, addRandomRight}, 6},
        %{{admin, getAllApplications}, 9},
        %{{admin, getAllDiscounts}, 9},
        %{{admin, getAllGroups}, 5},
        %{{admin, getAllRights}, 7},
        %{{admin, getAllSellers}, 7},
        %{{admin, isGroupAllowed}, 8}

        %% workflow module
        {{workflow, {login, "admin", "admin"}}, 1},
        {{workflow, {login, "user", "user"}}, 6},
        {{workflow, {login, "operator", "operator"}}, 3},
        {{workflow, logout}, 10}
        ]}.

{users_endpoint, "http://89.72.223.189:8080/userAccounts/services/UserService?wsdl"}.
{roles_endpoint, "http://89.72.223.189:8080/userAccounts/services/RoleService?wsdl"}.
{params_endpoint, "http://89.72.223.189:8080/userAccounts/services/UsersParametersService?wsdl"}.
{damage_endpoint, "http://damagereportmodule.hostingasp.pl/DamageReport.svc?singleWsdl"}.
{decision_endpoint, "http://178.255.41.148:8080/mic/services/MicServicePort?wsdl"}.
{admin_endpoint, "http://ntesting-aolkuski.rhcloud.com/webDBwar/AdminPanelService?wsdl"}.
{workflow_endpoint, "http://test-envwfdoc.rhcloud.com/dms-ejb/DMSServiceWS/DMSServiceWSPortType"}.
