{mode, max}.

{log_level, info}.

{duration, 10}.

{concurrent, 2}.

{driver, basho_bench_driver_xmpp}.

{key_generator, {uniform_int, 5}}.

{value_generator, {function, basho_bench_driver_xmpp, text, [30]}}.

{xmpp_server, <<"localhost">>}.
{xmpp_username_prefix, <<"user_">>}.
{xmpp_password_prefix, <<"password_">>}.

{operations, [{send_ttd, 1}]}.
